<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <title>My Bakery</title>
</head>

<body>
    <div class="container">

        <h1 class="text-center display-3">Cupcake List</h1>
        <div class="row justify-content-center">
            <div class="col-6">
                <ul class="list-group" id="list-cupcakes">
                <!--{% for cupcake in cupcakes %}
                <li class="list-group-item d-flex justify-content-between align-items-center">{{cupcake.flavor}} / {{cupcake.size}} / {{cupcake.rating}}
                    <button
                    class="delete-cupcake btn-sm btn-danger"
                    data-id="{{cupcake.id}}">X</button>
                    </li>
                {% endfor %}-->
                </ul>
            </div>
        </div>
        <form method="POST">
            
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden'%}
            <div class="form-group"> 
                {{field.label(class_="form-label")}}
                {{field(class="form-control")}}
            </div>
            {% endfor %}
        
            <div class="d-flex justify-content-end">
                <button id='patch-cupcake' type="submit" class="btn btn-info hidden mr-2">Edit</button>
                <button id='add-cupcake' type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script type = "text/javascript" src="static/cupcakes.js"></script>
</body>

</html>